*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#one{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white;
}

#one1 {
    position: absolute;
    height: 97%;
    width: 97%;
    left: 20px;
    top: 20px;
    right: 20px;
}

#navbaar{
    display: flex;
    width: 100%;
    height: 70px;
    position: absolute;
    top: 0%;
    align-items: center;
    cursor: pointer;
}

#navbaar h2{
    display: flex;
    color: white;
    margin-left: 40px;
    letter-spacing: 3px;
}

#line hr{
    width: 50px;
    position: absolute;
    height: 2px;
    background-color: #426B39;
    border: none;
    left: 50%;
    top: 95%;
}

#navbaar #links{
    flex: 1;
   margin-left: 55%;
}

#links ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}

#links #icon {
    display: inline-block;
align-items: center;
  font-size: 5px;
}

#icon i{
    margin-right: 155px;
    color: white;
}

#links ul li a{
    text-decoration: none;
    color: white;
}




#one1 img{
    height: 97%;
    width: 100%;
    position: relative;
}

#one1 #heading{
    position: relative;
    top: -70%;
    left: 10%;
    width: 35%;
    height: 45%;
}

#heading h1{
    position: absolute;
    left: 40px;
    color: white;
}

#heading h2{
    font-family: 'Pacifico', cursive;
    position: absolute;
    left:35% ;
    color: #426B39;
    top: 12%;
    font-weight: 200;
    font-size: 32px;
}

#heading p{
    position: absolute;
    left: 40px;
    color: rgba(255, 255, 255, 0.726);
    font-size: 14px;
    top: 100px;
}

#heading button{
    position: absolute;
    left: 40px;
    top: 170px;
    height: 30px;
    width: 100px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #4f7e45;
    font-weight: 550;
}

#two #center{
    position: relative;
    width: 30%;
    height: 30%;
    left: 36%;
    top: 30px;
} 

#center p{
    position: absolute;
    margin-top: 70px;
    margin-left: 80px;
    color: rgba(255, 255, 255, 0.692);
    font-size: 12px;
}

#center h1{
    position: absolute;
    top: 30px;
    left: 110px;
    color: white;  
}

#center hr{
    position: absolute;
    width: 50px;
    height: 3px;
    border: none;
    top: 95px;
    left: 46%;
    background-color: white;
}
#two{
    width: 100%;
    height: 100%;
    background-color:#a0c1ddf3;
}
#two #card1{
    width: 340px;
    height: 340px;
    background:white;
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.5);
    position: relative;
    border-radius: 10px;
  left: 10%;
}
#card1 span{
    height: 100%;
    left: 0;
    background: url(88f43d2a25903777affea641dd7bb166.jpg);
    position: absolute; 
    background-size: cover;
    background-position-y: center;     
    width: 100%;

}
#card1:hover span{
    cursor: pointer;
    transform: translateY(-100%);
    transition: 2.5s;
}

#two #card2{
    width: 340px;
    height: 340px;
    background:white;
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.5);
    position: relative;
    border-radius: 10px;
    left: 40%;
    top: -47%;
}
#content{
    text-align: center;
    padding: 80px 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#content h2{
    color: rgba(255, 192, 203, 0.658);
    font-size: 19px;
}
#content p{
    margin-top: 8px;
    font-size: 14px;
}

#content a{
    width: 100px;
    text-decoration: none;
    border-radius: 60px;
    border: 2px solid;
    display: block;
    margin-left: 90px;
    padding: 5px;
    margin-top: 10px;
    font-size: 12px;
    color:  rgba(255, 192, 203, 0.692);
}



#card2 span{
    cursor: pointer;
    height: 100%;
    left: 0;
    background: url(7f7adb6c848c4ffd47c2e1dce45b5e4e.jpg);
    position: absolute;;
    background-size: cover;
    background-position: cover;
    background-position-y: center;  
    width: 100%;   
}

#card2:hover span{
    transform: translateY(-100%);
    transition: 2.5s;
}
#content2{
    text-align: center;
    padding: 80px 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#content2 h2{
    color: rgba(255, 192, 203, 0.658);
    font-size: 19px;
}
#content2 p{
    margin-top: 8px;
    font-size: 14px;
}
#content2 a{
    width: 100px;
    text-decoration: none;
    border-radius: 60px;
    border: 2px solid;
    display: block;
    margin-left: 90px;
    padding: 5px;
    margin-top: 10px;
    font-size: 12px;
    color:  rgba(255, 192, 203, 0.692);
}
#two #card3{
    width: 340px;
    height: 340px;
    background:white;
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.5);
    position: relative;;
    border-radius: 10px;
    left: 70%;
    top: -94.1%;
}
 #card3 span{
     cursor: pointer;
    height: 100%;
    left: 0;
    background: url(88f43d2a25903777affea641dd7bb166.jpg);
    position: absolute;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-position-y: center;  
 }

#card3:hover span{
    transform: translateY(-100%);
    transition: 2.5s;
}
#content3{
    text-align: center;
    padding: 80px 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#content3 h2{
    color: rgba(255, 192, 203, 0.658);
    font-size: 19px;
}
#content3 p{
    margin-top: 8px;
    font-size: 14px;
}
#content2 a{
    width: 100px;
    text-decoration: none;
    border-radius: 60px;
    border: 2px solid;
    display: block;
    margin-left: 90px;
    padding: 5px;
    margin-top: 10px;
    font-size: 12px;
    color:  rgba(255, 192, 203, 0.692);
}
#three{
    display: flex;
    height: 55%;
    width: 100;
    background-color: white;
}
#left{
    position: relative;
    height: 90%;
    width: 35%;
    left:10% ;
    margin-top: 20px;
    background-image: url(https://i.pinimg.com/originals/88/ef/5b/88ef5bc7e5023971e30ccd547ca6a6bb.jpg);
    background-position-y:bottom;
    background-size: cover;
}
#right{
    position: relative;
    height: 90%;
    width: 35%;
    margin-left: 18%;
    margin-top:20px ;
}
#right h2{
    font-family: 'Kaushan Script', cursive;
    margin-left: 43%;
    margin-top: 30px;
    font-size: 32px;
    font-weight: 500;
    color: #426b42;
}
#right p{
    margin-left: 70px;
    font-size: 15px;
    margin-top: 15px;
    color: #426b3973;
}

#four{
    padding: 110px;
    display: flex;
    align-items: center;
    height: 45%;
    width: 100%;
    background-color:#a0c1ddf3;
}

#four #left1{
    position: relative;
    height: 200px;
    width: 200px;
    margin-left: -5%;
}

#four #left1 i{
    position: relative;
    font-size: 60px;
    left: 60px;
    top: 15px;

}

#four #left1 h5{
    position: relative;
  margin-left: 30px;
  margin-top: 10px;

}
#four #left1 p{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#four #center1{
    height: 200px;
    width: 200px;
    margin-left: 10%;
}
#four #center1 i{
    position: relative;
    font-size: 50px;
    left: 60px;
    top: 20px;
}
#four #center1 h5{
    position: relative;
  left: 30px;
  margin-top: 20px;
}
#four #center1 p{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 20px;

}


#four #right1{
    height: 200px;
    width: 200px;
    margin-left: 10%;
}
#four #right1 i{
    position: relative;
    font-size: 50px;
    left: 60px;
    top: 20px;
}

#four #right1 h5{
    position: relative;
 margin-left: 40px;
  margin-top: 20px;
}
#four #right1 p{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 20px;
}

#four #right2{
    height: 200px;
    width: 200px;
    margin-left: 10%;
}
#four #right2 i{
    position: relative;
    font-size: 50px;
    left: 60px;
    top: 20px;
}

#four #right2 h5{
    position: relative;
  left: 35px;
  margin-top: 20px;
}
#four #right2 p{
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#four h2{
    position: relative;
    top: -120%;
    left: 45%;
    font-size: 25px;
    color: black; 
}
#five{
    height: 25%;
    width: 100%;
    background-color:#fff;
}

#five #center {
    width: 25%;
    height: 75%;
    position: relative;
    left: 38%;
    margin-top: 20px;
}
#five #center h3{
    position: absolute;
    color: black;
    margin-top: 20px;
    margin-left: 32%;
}

#five #center p{
    position: absolute;
    margin-left: 40px;
    margin-top:50px;
    color: rgba(0, 0, 0, 0.856);
}

#five #center #icons{
    width: 120px;
    position: absolute;
    height: 40px;
    margin-left: 34%;
    top: 60%;
}
#five #center #icons i{
    cursor: pointer;
    position: relative;
    padding: 5px;
    left: 15px;
    top: 10px;
    font-size: 20px;
}